@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.clockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66%;
  height: 100px;
  border-radius: 20px;
  background: #f2f2f2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
}

.clockContainer {
  display: flex;
  flex-direction: column;
}

.time {
  font-size: 2.3rem;
  font-weight: 200;
  background: none;
  color: #00bbdd;
}

.date {
  font-size: 1rem;
  font-weight: 300;
  color: #204357;
}
