.container {
  height: 95vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.topPage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.topLeft {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background: #f2f2f2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
}

.homeIcon {
  width: 55%;
}

.title {
  color: #204357;
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 15px;
}

.prenom {
  margin-top: 0;
  font-size: 0.8rem;
  font-weight: 200;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  font-weight: 200;
  padding: 15px;
  border-radius: 20px;
  background: #f2f2f2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
  width: 100%;
  height: 500px;
  transition: width 1s, height 2s, transform 1s;
}

.close {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: flex-end;
  flex-grow: 1;
  width: 20%;
  margin-right: 15px;
  font-weight: 200;
  border-radius: 20px;
  background: #f2f2f2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;

  height: 100px;
  transition: width 2s, height 1s, transform 1s;
}

.prescriptionInfosOpen {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prescriptionInfosClose {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  width: 90%;
}

.prescriptionTitle {
  background: none;
  color: #204357;
}

.prescriptionNumber {
  color: #00bbdd;
  background: none;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: -1rem;
  margin-top: -0.5rem;
  margin-left: 60px;
}

.contentOpen {
  width: 100%;
  height: 30px;
  background: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  opacity: 1;
}

.contentClose {
  display: none;
  opacity: 0;
}

.prescriptionName {
  background-color: none;
  font-weight: 300;
}

.prescriptionDescription {
  background: none;
}

.reminder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  flex-grow: 2;
  height: 100px;
  border-radius: 20px;
  background: #f2f2f2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
  font-weight: 200;
}

.notifNumber {
  padding-top: 15px;
  padding-right: 15px;
  color: orange;
  align-self: flex-end;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: -1rem;
  margin-top: -0.5rem;
}

.notifTitle {
  color: #204357;
  margin-left: 15px;
  margin-bottom: 10px;
}

.createOrdo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 60%;
  height: 100px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 20px;
  background: #f2f2f2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
  font-weight: 200;
}

.createDrug {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  width: 30%;
  height: 100px;
  margin-top: 15px;
  border-radius: 20px;
  background: #f2f2f2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
  font-weight: 200;
}

.ordoPlus {
  padding-right: 15px;
  padding-top: 15px;
  color: #00bbdd;
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: -1rem;
  margin-top: -0.5rem;
  display: flex;
  justify-content: flex-end;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.disconnect {
  color: red;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 60px;
  width: 60px;
  background: #f2f2f2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
}

.discoIcon {
  width: 40%;
}

.drugHistory {
  color: #204357;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
  height: 80px;
  border-radius: 20px;
  background: #f2f2f2;
  box-shadow: 5px 5px 10px #cecece, -5px -5px 10px #ffffff;
}

.subtitleEmergency {
  color: orange;
  font-size: 0.7rem;
  font-weight: 200;
  margin-top: -0.8rem;
}

@media screen and (min-width: 561px) {
  .createOrdo {
    margin-top: 0;
  }

  .close {
    align-items: flex-start;
  }

  .reminder {
    margin-right: 15px;
  }

  .open {
    margin-bottom: 15px;
  }

  .homeIcon {
    width: 55%;
  }

  .discoIcon {
    width: 40%;
  }

  .disconnect {
    margin-top: 15px;
  }
}
